<!DOCTYPE html>
<html lang="en">

<head>
    <title>Microsoft Graph Toolkit Samples!</title>
    <meta name="description" content="A cool thing made with Microsoft Graph Toolkit">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css" />
    <style type="text/css">

    </style>
</head>

<body>
    <mgt-msal-provider client-id="[CLIENT-ID]" login-type="redirect"
        scopes="User.Read RoleManagement.Read.Directory User.Read.All" authority="">
    </mgt-msal-provider>
    <header>
        <div class="title">Microsoft Graph Toolkit - Directory Roles and Members</div>
        <mgt-login></mgt-login>
    </header>
    <!--  CONTAINER  -->
    <div class="kts-container">
        <mgt-get resource="/directoryRoles?$expand=members" version="beta"
            scopes="RoleManagement.Read.Directory User.Read.All">
            <template data-type="default">
                <ul>
                    <li data-for="dr in value">
                        <h2>{{dr.displayName}}</h2>

                        <mgt-person data-for="mem of dr.members" person-query={{mem.displayName}} show-name>
                        </mgt-person>

                    </li>
                </ul>
            </template>
        </mgt-get>
    </div>
    <script type="text/javascript">
        function converttime(ft) {
            var dt = new Date(ft);
            return dt.getDate() + "/" + dt.getMonth() + 1 + "/" + dt.getFullYear();

        }
        function dby2(num) {
            return (num % 2) ? "direction-r" : "direction-l";
        }
    </script>
    <script src="https://unpkg.com/@microsoft/mgt/dist/bundle/mgt-loader.js"></script>
</body>

</html>